---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Card/index.astro";
---

<Layout title="John Tan-Aristy">
  <main class="flex max-w-screen-lg m-auto items-center gap-24 p-6">
    <div>
      <h1 class="text-8xl font-normal leading-snug">
        KEYWORD, <br />
        SECOND, <br />
        FIRST. <br />
      </h1>
	  <button class="text-2xl bg-light-accent text-white px-12 py-2 rounded-xl font-bold">
		About me
	  </button>
    </div>
    <Hero />
  </main>
</Layout>
